{% extends 'base.html' %}
{% block scripts %}

<script>
    function postContent(id){
        let content = $('#my-content').val()
        let sc = document.getElementById("score")
        let scIdx = document.getElementById("score").options.selectedIndex
        let score = sc.options[scIdx].value
        //alert(score+'점')
        //alert(id)
        $.ajax({
            url: '/inventory/' + id,
            type: 'post',
            data: {
                    'content': content,
                    'score': score
            },
            success: function (res) {
                    let result = res['result']
                    if (result == "success") {
                        window.location.reload()
                    }else if (result == "already_review") {
                        alert("이미 리뷰를 남기셨네요!")
                    } 
                    else {
                            alert("저장오류!")
                    }
            }
        })
    }

    function deleteContent(id) {
        var msg = "해당 리뷰를 삭제하시겠습니까?"
        var flag = confirm(msg);
        
        if (flag==true){    
            let author = `{{g.user.user_id}}`
            $.ajax({
                url:  '/inventory/' + id,
                type: 'DELETE',
                data: {
                    'id': id
                },
                success: function (res) {
                    if (res['result'] == 'success') {
                        alert("리뷰를 삭제하였습니다")
                        window.location.reload()
                    } else {
                        alert("리뷰를 삭제할 수 없습니다")
                    }
                }
        })}
    }

    function updatecontent(id) {
        let content = $(`#userEidContent${id}`).val()
        let score = change_score
        $.ajax({
            url: '/inventory/' + id,
            type: 'PATCH',
            data: {
                "id": id,
                "content": content,
                "score":score
            },
            success: function (res) {
                if (res['result'] == 'success') {
                    alert("리뷰를 수정하였습니다.")
                    window.location.reload()
                }
            }
        })
    }
    let change_score = 0 //리뷰 수정시 바꾼평점을 담을 변수
    function modifycontent(id) {
        let content = $(`#userContent${id}`).text()
        let tmpHtml = `<textarea id=userEidContent${id} class="form-control" rows="3"></textarea>`
        let tmpBtn = `<button class="btn btn-sm btn-primary" onclick="updatecontent(${id})">수정완료</button>`
        let select = `<select id= "mdscore" name = "mdscore" onchange="mdChange()">
                        <option value = "1">⭐</option>
                        <option value = "2">⭐⭐</option>
                        <option value = "3">⭐⭐⭐</option>
                        <option value = "4">⭐⭐⭐⭐</option>
                        <option value = "5">⭐⭐⭐⭐⭐</option>
                    </select>`

        $("#edit-area").empty()
        $("#edit-area").append(select)
        $("#edit-area").append(tmpHtml)
        $(`#editBtn${id}`).hide()
        $(`#userEidContent${id}`).val(content)
        $("#edit-area").append(tmpBtn)
        $("#mdscore").change(function(){
            change_score = this.value;
        })
    }

</script>
{% endblock %}
{% block content%}
{{book_id}}번째 책입니다.
<hr>
<div class="container d-flex justify-content-around">
    <!--이미지 클릭시 새창에서 구매링크-->
    <a href= "{{book_info.link}}" target="_blank">
        <img src="{{book_info.path}}" width="300px" height="350px" class="rounded float-left" alt="book" title="구매하러가기">
    </a>
    <table class="table table-striped w-50 table-no-margin">
        <tbody>
            <tr>
                <td style="width: 25%">책이름</td>
                <td style="width: 75%">{{book_info.book_name}}</td>
            </tr>
            <tr>
                <td>출판사</td>
                <td>{{book_info.publisher}}</td>
            </tr>
            <tr>
                <td>저자</td>
                <td>{{book_info.author}}</td>
            </tr>
            <tr>
                <td>출간일</td>
                <td>{{book_info.publication_date}}</td>
            </tr>
            <tr>
                <td>페이지 수</td>
                <td>{{book_info.pages}}p</td>
            </tr>
            <tr>
                <td>ISBN 코드</td>
                <td>{{book_info.isbn}}</td>
            </tr>
            <tr>
                <td>평점</td>
                <td>{{book_info.rating}}/5.0점</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container d-flex justify-content-around">
    <div class="card">
        <div class="card-body">
            <p>{{book_info.description}}</p>
        </div>
    </div>
</div>
<p class="title" style="color: gray;"><책 이미지 클릭시 구매링크로 이동가능합니다.></p>
<hr>
<div class="container justify-content-around">
    {% if g.user.user_id %}
    <div class="card">
        <h5 style="display:inline-block;" class="card-header">새 글 작성</h5>
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">{{g.user.user_id}}님, 글을 작성하세요</label>&nbsp;&nbsp;
                <select id= "score" name = "score" onchange="handleOnChange(this)">
                    <option value = "1">⭐</option>
                    <option value = "2">⭐⭐</option>
                    <option value = "3">⭐⭐⭐</option>
                    <option value = "4">⭐⭐⭐⭐</option>
                    <option value = "5"selected>⭐⭐⭐⭐⭐</option>
                 </select>
                <textarea id='my-content' class="form-control" rows="3"></textarea>
            </div>
            <div class="d-flex justify-content-end"><button class="btn btn-primary" onclick="postContent('{{book_id}}')">작성하기</button></div>
        </div>
    </div>
    {% endif %}

    {% if review_data %}
    {% for review in review_data %}
    <div class="card mt-2">
        <div class="card-header">
            {% if review.score==1 %}
            <div style="display:inline-block;">{{g.user.user_id}}    &nbsp;&nbsp;⭐</div><div style="display:inline-block; font-size:1.2rem;">☆☆☆☆</div>
            {% elif review.score==2 %}
            <div style="display:inline-block;">{{g.user.user_id}}    &nbsp;&nbsp;⭐⭐</div><div style="display:inline-block; font-size:1.2rem;">☆☆☆</div>
            {% elif review.score==3 %}
            <div style="display:inline-block;">{{g.user.user_id}}    &nbsp;&nbsp;⭐⭐⭐</div><div style="display:inline-block; font-size:1.2rem;">☆☆</div>
            {% elif review.score==4 %}
            <div style="display:inline-block;">{{g.user.user_id}}    &nbsp;&nbsp;⭐⭐⭐⭐</div><div style="display:inline-block; font-size:1.2rem;">☆</div>
            {% elif review.score==5 %}
            <div style="display:inline-block;">{{g.user.user_id}}    &nbsp;&nbsp;⭐⭐⭐⭐⭐</div><div style="display:inline-block; font-size:1.2rem;"></div>
            {% else %}
            <div style="display:inline-block;">{{g.user.user_id}}    &nbsp;&nbsp;</div><div style="display:inline-block; font-size:1.2rem;">☆☆☆☆☆</div>
            {% endif %}
            <div>{{review.created}} 작성</div>
        </div><!--작성자 아이디(이메일)-->
        
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">{{review.author}}</label>
                <div id='edit-area'>
                    <p id='userContent{{review.id}}'>{{review.content}}</p>
                </div>
            </div>
        </div>
    
    
        <div class="card-footer text-muted">
            <div class="d-flex justify-content-end">
                <button class="btn btn-sm btn-danger" onclick="deleteContent('{{review.id}}')">삭제하기</button>
                <button id='editBtn{{review.id}}' class="btn btn-sm btn-warning" style="margin-left: 8px;" onclick="modifycontent('{{review.id}}')">수정하기</button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="card">
        <div class="card-body">
            <h3 class= "title">아직 등록된 리뷰가 없습니다. 첫번째로 리뷰를 남겨주세요!</h3>
        </div>
    </div>
    {% endif %}
</div>
<hr>
{% endblock %}