{% extends 'base.html' %}
{% block content%}
{{book_id}}번째 책입니다.



<hr>
<div class="container d-flex justify-content-around">
    <img src="{{book_info.path}}" class="rounded float-left" alt="book">
    <table class="table table-striped w-auto  ">
        <tbody>
            <tr>
                <td>책이름</td>
                <td>{{book_info.book_name}}</td>
            </tr>
            <tr>
                <td>출판사</td>
                <td>{{book_info.publisher}}</td>
            </tr>
            <tr>
                <td>저자</td>
                <td>{{book_info.author}}</td>
            </tr>
            <tr>
                <td>출간일</td>
                <td>{{book_info.publication_date}}</td>
            </tr>
            <tr>
                <td>페이지 수</td>
                <td>{{book_info.pages}}</td>
            </tr>
            <tr>
                <td>ISBN 코드</td>
                <td>{{book_info.isbn}}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
{% endblock %}