{% extends 'base.html' %}
{% block scripts %}
<script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block content %}
<h1 class="title">엘리스도서관 책 목록</h1>
<hr>
    <div class="container">
        <p>총 {{search_count}}권의 책이 검색되었습니다.</p>
        <div class="row row-cols-1 row-cols-md-4">
            {% for book in book_list %}
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <a href="/inventory/{{book.id}}">
                            <img src={{book.path}} alt="" class="card-img"/>
                        </a>
                        <h5 class="card-title title">{{book.book_name}}</h5>
                        <p class="card-text title">5권남음</p>
                        <a href="/join" class="btn btn-primary">대여하기</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<hr>
{% endblock %}