{% extends 'base.html' %}
{% block scripts %}
<script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
<script>
	function borrow_book(book_id) {
		alert(book_id); //전송 잘됨

        $.ajax({
			url: '/borrow_check',
			type: 'post',
			data: {
				'book_id': book_id
			},
			success: function (res) {
				if (res['result'] == 'not_remain') {
					alert("잔여수량이 없습니다");
				}
                else if (res['result'] == 'need_login'){
					alert("로그인이 필요한 기능입니다.");
                    window.location.href = '/login'
				}
				else if (res['result'] == 'ok'){
					alert("대여가 완료되었습니다");
				}

			}
		})
	}
</script>
{% endblock %}
{% block content %}
<h1 class="title">엘리스도서관 책 목록</h1>
<hr>
    <div class="container">
        {% if search_count==0 %}
            <p class="title">{{search_word}}와(과) 일치하는 검색결과가 없습니다.</p>
        {% else %}
        <p class="title">총 {{search_count}}권의 책이 검색되었습니다.</p>
            <div class="row row-cols-1 row-cols-md-4">
                {% for book in pagination.items%}
                <div class="col mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <a href="/inventory/{{book.id}}">
                                <img src={{book.path}} alt="{{book.book_name}}"  title="{{book.book_name}} "width="210px" height="210px" class="card-img"/>
                            </a>
                            <p class="card-title title">{{book.book_name}}</p>
                            <p class="card-text title">{{book_remain_count[loop.index][0]}}권남음</p>
                            <button class="btn btn-primary" id={{book.id}} onclick=borrow_book(this.id)>대여하기</button> 
                            <!--대출할 책의 id를 넘겨줌-->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if pagination.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ pagination.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in pagination.iter_pages() %}
        {% if page_num %}
        {% if page_num != pagination.page %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="#">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if pagination.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ pagination.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
<!-- 페이징처리 끝 -->
<hr>
{% endblock %}