{% extends 'base.html'%}

{% block scripts %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!--카카오지도 api-->
<!--<script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>-->
<script>
	function search_addr() {
		new daum.Postcode({
			oncomplete: function (data) {
				document.querySelector("#mainAddress").value = data.roadAddress //주소 입력받음(사용자가 도로명,지번 아무거나 선택해도 도로명주소로 입력됨)
				document.getElementById("detailAddress").focus(); //상세주소로 focus이동
			}
		}).open();
	}
	function id_check(){
		var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

		let user_id = $('#userId').val()
		if (user_id == ''){
			alert("ID를 입력해주세요");
			document.getElementById("userId").focus();
			return
		}
		else if (!(re.test(user_id))){ //정규식 만족 못한다면
			alert("적합하지 않은 ID 형식입니다.");
			document.getElementById("userId").focus();
			return
		}
		$.ajax({
			url: '/id_check',
			type: 'post',
			data: {
				'user_id': user_id,
			},
			success: function (res) {
				if (res['result'] == 'overlap') {
					alert("이미 사용중인 ID입니다!");
					$('#userId').val('');
					alert("www")
					return false
				}
				else{
					alert("사용 가능한 ID입니다!");
					return true
				}
			}
		})
	}

	function pw_check(){
		var pw = $("#userPw").val()
		var num = pw.search(/[0-9]/g); //숫자
		var eng = pw.search(/[a-z]/ig);//영어
		var spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);//특수문자

		if (pw.length < 8 || pw.length > 20) {
			alert("8자리 ~ 20자리 이내로 입력해주세요.");
			$('#userPw').val('');
			$('#userPw').focus();
			return false
		} else if (pw.search(/\s/) != -1) {
			alert("비밀번호는 공백 없이 입력해주세요.");
			$('#userPw').val('');
			$('#userPw').focus();
			return false
		} else if ((num < 0 && eng < 0) || (eng < 0 && spe < 0) || (spe < 0 && num < 0)) {
			alert("영문,숫자, 특수문자 중 2가지 이상을 혼합하여 입력해주세요.");
			$('#userPw').val('');
			$('#userPw').focus();
			return false
		} else {
			$('#userPw2').focus();
			return true
		}

	}

	function pw_same(){
		var pw = $("#userPw").val()
		var pw2 = $("#userPw2").val()

		if (pw === pw2) {
			alert("일치");
			$('#name').focus();
			return true
		} else {
			alert("불일치");
			$('#userPw2').val('');
			$('#userPw2').focus();
			return false
		}
	}

	function name_check(){
		var name = $("#name").val()
		alert(name)
		var kor = name.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/g); //search: 대응된 부분의 인덱스를 반환
		var num = name.search(/[0-9]/g);
		var eng = name.search(/[a-z]/ig);
		var spe = name.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
		console.log(kor, eng, num, spe)
		if(kor==0 && eng<0 && num<0 && spe<0){
			alert("한글만 입력했네요!");
			return true;
		}
		else if(kor<0 && eng==0 && num<0 && spe<0){
			alert("영어만 입력했네요!");
			return true;
		}
		else {
			alert("규칙을 따라주십쇼")
			$('#name').val('');
			$('#name').focus();
		}
	}

	function regist() {
		let user_id = $('#userId').val()
		let user_pw = $('#userPw').val()
		let user_pw2 = $('#userPw2').val()
		let name = $('#name').val()
		let gender = $('input:radio[name="condition"]:checked').val();
		let phone_number = $('#phoneNumber').val()
		let address = $('#mainAddress').val() + " " + $('#detailAddress').val()

		if (user_id == '' || user_pw == '') {
			alert('아이디와 패스워드를 입력해 주세요.')
			return;
		}

		if (user_pw != user_pw2) {
			alert('비밀번호를 확인해 주세요!')
			return;
		}
		$.ajax({
			url: '/join',
			type: 'post',
			data: {
				'user_id': user_id,
				'user_pw': user_pw,
				'name': name,
				'gender': gender,
				'phone_number': phone_number,
				'address': address
			},
			success: function (res) {
				if (res['result'] == 'overlap') {
					alert("이미 사용중인 ID입니다!");
				}
				
				else if (res['result'] == 'success') {
					alert("회원가입 성공!");
					window.location.href = '/login'
				}
			}
		})
	}
</script>
{% endblock %}


{% block content %}
<h2 class="title">Elice 회원가입</h2>
<div class="wrap">
	<hr>
	<div class="card">
		<div class="card-body">
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">ID</label>

				<div class="col-sm-7">
					<input type="text" id='userId' class="form-control" placeholder="이메일 형식으로 기재해 주세요.">
				</div>
				<div class="col-sm-3">
					<button class="btn btn-primary" onclick=id_check()>ID CHECK</button>
				</div>

			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">비밀번호</label>
				<div class="col-sm-10">
					<input type="password" onchange=pw_check() class="form-control" id="userPw" name="userPw">
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">비밀번호 확인</label>
				<div class="col-sm-10">
					<input type="password" onchange=pw_same() class="form-control" id="userPw2">
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">이름</label>
				<div class="col-sm-10">
					<input type="tel" onchange=name_check() class="form-control" id="name">
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">성별</label>
				<div class="col-sm-10">
					<input type="radio" name="condition" value="0" checked="checked" id="male">남성
					<input type="radio" name="condition" value="1" id="female">여성
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">전화번호</label>
				<div class="col-sm-10">
					<input type="tel" class="form-control" id="phoneNumber" placeholder="010-1234-5678"
						pattern="[0-1]{3}-[0-9]{4}-[0-9]{4}" required>
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">주소</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" id="mainAddress" readonly />
				</div>
				<div class="col-sm-3">
					<button class="btn btn-primary" onclick=search_addr()>ADDRESS CHECK</button>
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">상세주소</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" id="detailAddress" />
				</div>
			</div>

			<button class="btn btn-primary" onclick=regist()>회원가입하기</button>
			<a href="/login" class="btn btn-primary">로그인하기</a>
		</div>
	</div>
	<hr>
</div>
{% endblock %}