{% extends 'base.html' %}

{% block scripts %}
<script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
<script>
    function return_book(book_id) {
        alert(book_id+'번째 책을 반납하려 합니다.');        
        $.ajax({
			url: '/return_check',
			type: 'post',
			data: {
				'book_id': book_id
			},
			success: function (res) {
				if (res['result'] == 'need_login') {
                    alert("로그인이 필요한 기능입니다.");
                    window.location.href = '/login'
				}
                else if (res['result'] == 'unknown_error'){
					alert("알 수 없는 오류 발생! 메인페이지로 돌아갑니다");
                    window.location.href = '/'
				}
				else if (res['result'] == 'ok'){
					alert("반납이 완료되었습니다");
                    window.location.href = '/'
				}
                else{
                    alert("뭐지");
                    alert(res['result'])
                }
			}
		})
        
    }
</script>
{% endblock %}

{% block content %}
<h1 class="title">{{name}}님의 대여 이력</h1>

<hr>
<h4 class="title">총 {{borrow_ing}}권의 책을 대여중입니다.</h4>

{% if myborrow_list %}
<div class="container d-flex justify-content-around">
    <table class="table table-striped w-auto title align-middle">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">책</th>
                <th scope="col">대여날짜</th>
                <th scope="col">반납상태</th>
            </tr>
        </thead>
        <tbody>
            {% for i in pagination.items%}
            <tr>
                <th scope="row">{{loop.index * pagination.page}}</th>
                <td>{{i.book_name}}</td>
                <td>{{i.borrow_date}}</td>
                {% if i.borrow_state == False%}
                    <td>반납대기중</td>
                    <td><button class="btn btn-primary" id={i.borrow_book_id}} onclick=return_book(this.id)>반납하기</button></td>
                {% else %}
                    <td>반납완료</td>
                    <td><button class="btn btn-primary" type="submit" disabled="disabled">반납하기</button></td>
                {% endif %}
            </tr>
                {% endfor %}
        </tbody>
    </table>
</div>

<p class="title">총 {{cnt}}건 검색됨</p>
{% else%}
<h2 class="title">현재 대여 이력이 존재하지 않습니다.</h2>
<div class="title">
    <p class="title">총 {{cnt}}건 검색됨</p>
    <a class="btn btn-primary" href="/inventory">책 목록 보러라기</a>
</div>
{% endif %}
<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if pagination.has_prev %}
    <li class="page-item">
        <a class="page-link" href="?page={{ pagination.prev_num }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    {% for page_num in pagination.iter_pages() %}
    {% if page_num %}
    {% if page_num != pagination.page %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
    </li>
    {% else %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ page_num }}</a>
    </li>
    {% endif %}
    {% else %}
    <li class="disabled">
        <a class="page-link" href="#">...</a>
    </li>
    {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if pagination.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ pagination.next_num }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
<!-- 페이징처리 끝 -->
{% endblock %}