{% extends 'base.html' %}
{% block scripts %}
<script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">

    <h1 class="display-1 text-center">Height</h1>

    <br>

    <div class="row-vh">

        <div class="h-25">Height 25%</div>

        <div class="h-50">Height 50%</div>

        <div class="h-75">Height 75%</div>

        <div class="h-100">Height 100%</div>

        <div class="h-auto">Height auto</div>

    </div>

</div>
{% endblock %}